.pricing-field {
  margin-top: 10px;

  /* display: grid;
  grid-template-columns: auto auto; */
}
.pricing-field__tabel {
  overflow-y: scroll;
  height: 250px;
}
.pricing-field__tabel::-webkit-scrollbar {
  width: 8px;
}
.pricing-field__tabel::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}
.add {
  height: 75px;
}

@media only screen and (max-width: 900px) {
  .edit-card {
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .edit-card {
    width: 120%;
  }
}
