.tabel-body__cell {
  background-color: #c3d2d6;

  outline: none;
  border-bottom: none !important;
}
.tabel-body__cell:nth-child(n + 2) {
  border-left: 1px solid white;
}
.border-none {
  border: none !important;
}
.tabel-body__cell:first-child {
  border-radius: 5px 0px 0px 5px;
}
.tabel-body__cell:last-child {
  border-radius: 0px 5px 5px 0px;
}
.css-heg063-MuiTabs-flexContainer {
}
