@import "print.css" print;
.features__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.modal-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gov-info {
  width: 100%;
  /* margin-left: 5%; */
  min-height: 80%;
  border: 2px dashed lightgray;
  display: flex;
  justify-content: center;
}
.gov-info > h2 {
  margin-top: 50%;
  letter-spacing: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

@media print {
  .edit-header {
    display: none;
  }
}
.select {
  margin-left: 7%;
  gap: 10px;
}
.check > svg {
  /* background-color: red !important; */
}

@media screen and (max-width: 840px) {
  .select {
    margin-left: 2%;
    gap: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .edit {
    width: 143vw !important;
    margin: auto;
  }
}
