.css-heg063-MuiTabs-flexContainer > button {
  font-size: 0.9rem;
  padding: 0 !important;
  text-transform: capitalize;
}
.css-heg063-MuiTabs-flexContainer > button:nth-child(1) {
  flex-grow: 0;
}
.css-heg063-MuiTabs-flexContainer > button:nth-child(2) {
  flex-grow: 0.8;
}
